{% extends "Base.html" %}
{% block title %} G-Forces Effect On The Body {% endblock %}
{% block body %}
    <div class="parent">
    <div>
        <article>
<p><strong><span>How are Students on Task</span></strong></p>
<p><span>Students will be kept on task by raising the roaches to take care of until dissection, this will allow them to get attached and be interested in what they are doing. The rocket launches will also draw in the students and they will be more interested in the project.</span></p>
            </article>
        <article>
            <p><strong><span>Demonstrate Completion</span></strong></p>
<p><span>The finished presentation and data will be used to demonstrate completion of the project.</span></p>
        </article>
</div>
        <article>
<p><strong><span>Turn in Portions</span></strong></p>
<p><span>Each day students will turn in a portion of work to show they have completed the necessary steps to progress to each next stage of the project.</span></p>
<p><span>Day 1:&nbsp;</span></p>
<ul>
<li style="font-weight: 400;"><span>Shared group document with the teacher</span></li>
<ul>
<li style="font-weight: 400;"><span>Background research</span></li>
<li style="font-weight: 400;"><span>Rocket plans</span></li>
</ul>
</ul>
<p><span>Day 2:</span></p>
<ul>
<li style="font-weight: 400;"><span>Built rockets</span></li>
<li style="font-weight: 400;"><span>Data from roach launches</span></li>
</ul>
<p><span>Day 3:</span></p>
<ul>
<li style="font-weight: 400;"><span>Presentation summarizing the findings from:</span></li>
<ul>
<li style="font-weight: 400;"><span>Dissections</span></li>
<li style="font-weight: 400;"><span>Launches</span></li>
<li style="font-weight: 400;"><span>Background information</span></li>
</ul>
</ul>
<p>&nbsp;</p>

    </article>
    </div>
    <style>
    article {
        background-color: #FFb74d
    }

    .parent {
        display: block;
    }

    @media screen and (min-width: 800px) {
        .parent {
        display: grid;
        grid-template-columns: 1fr 2.5fr;
        grid-template-rows: 1fr;
        grid-column-gap: 1rem;
        grid-row-gap: 0px;
  }
}




    </style>
{% endblock %}