{% extends "Base.html" %}
{% block title %} G-Forces Effect On The Body {% endblock %}
{% block body %}
    <p id="isPasted"><strong><u>Materials/Budget:</u></strong></p>
<ul>
<li>
<p>Chloroform ($25)</p>
</li>
<li>
<p>Recycled Bottles ($0)</p>
</li>
<li>
<p>Vinegar ($4.98)&nbsp;</p>
</li>
<li>
<p>Baking Soda ($5)</p>
</li>
<li>
<p>Hydrogen Peroxide ($15)</p>
</li>
<li>
<p>Yeast ($7)</p>
</li>
<li>
<p>Soap ($2.99)</p>
</li>
<li>
<p>EVA Foam ($20)</p>
</li>
<li>
<p>100 Large Roaches ($32)</p>
</li>
<li>
<p>Gloves ($0)</p>
</li>
<li>
<p>Dissection Tools ($0)</p>
</li>
</ul>
<p>&nbsp;</p>
<p><u>Total Budget: $111.97</u></p>
<p>&nbsp;</p>
<p><strong><u>Students should Bring:</u></strong></p>
<ul>
<li>
<p>Charged ipads</p>
</li>
<li>
<p>Extra clothes (if dirtied on third day)</p>
</li>
</ul>
<p>&nbsp;</p>
{% endblock %}s