{% extends "Base.html" %}
{% block title %} G-Forces Effect On The Body {% endblock %}
{% block body %}
    <ol>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Read the background information and objective</span></li>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Create a group document to share research, data, and other information with the teacher.</span></li>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Assign groups and research</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">One half the group will research rocket design</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">The second half will research previous affects of g-forces on both humans cockroaches&nbsp;</span></li>
</ul>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Acquire roaches</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Divide roaches into two groups, rocket roaches and control roaches</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Assign previously made group to a batch of roaches</span></li>
</ul>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Begin work on creating the data tables</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Create a table that tracks the roach and how much g-forces each experience&nbsp;</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Create a second chart to note the differences on the anatomy of the control roaches compared to the rocket roaches</span></li>
</ul>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Create material list and design the rockets</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Utilizing the specific materials provided</span></li>
</ul>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Utilizing the material list and design, create the final rocket</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Create several rockets&nbsp;</span></li>
</ul>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Strap the prepared cockroaches to the finished rockets</span></li>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Launch the rockets with cockroaches attached</span></li>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Chloroform the roaches in order to euthanize the experiment and control roaches</span></li>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Begin dissections of the control roaches</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Following the specific guide of the leaders</span></li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Make sure students do not goof off during the process</span></li>
</ul>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Conclude control dissection and record results</span></li>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Begin dissecting the experiment roaches</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Follow the same procedure as above</span></li>
</ul>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Record data&nbsp;</span></li>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Put both control and experiment data side by side</span></li>
</ul>
<li class="potato" style="font-weight: 400;"><span style="font-weight: 400;">Have the groups present the data and findings in a slideshow presentation</span></li>
        </ol>
    <style>
    </style>
{% endblock %}