{% extends "Base.html" %}
{% block title %} G-Forces Effect On The Body {% endblock %}
{% block body %}
    <div class="timeline">
        <div class="time">
            <article>
                <h3 class="day">Day One</h3>
                <ul>
                    <li>7:45-8:00) Gather the students and introduce the topic</li>
                    <li>8:00-10:00) Research different effects of G-Forces on the body, as well as different rocket
                        designs
                    </li>
                    <li>10:00-11:30) Begin work on data tables for data collection</li>
                    <li>11:30-12:15) Eat lunch</li>
                    <li>12:15-3:00) Create material list needed and design rockets</li>
                    <li>3:00-3:15) Conclude for day and dismissal</li>
                </ul>
            </article>
        </div>

        <div class="connection">
            <p style="user-select: none">--</p>
        </div>
        <div class="time">
            <article>
                <h3 class="day">Day Two</h3>
                <ul>
                    <li>7:45-8:00) Reintroduce project idea</li>
                    <li>8:00-11:30) Split off into groups and begin building rockets with provided materials</li>
                    <li>11:30-12:15) Eat lunch</li>
                    <li>12:15-1:30) Finish building rockets and prepare them for presentation</li>
                    <li>1:30-3:00) Strap cockroaches to rockets, launch rockets and record data</li>
                    <li>3:00-3:15) Conclude for day and dismissal</li>
                </ul>
            </article>
        </div>
        <div class="connection">
            <p style="user-select: none">--</p>
        </div>
        <div class="time">
            <article>
                <h3 class="day">Day Three</h3>
                <ul>
                    <li>7:45-8:00) Reintroduce project idea</li>
                    <li>8:00-11:30) Dissect control roaches and record data</li>
                    <li>11:30-12:15) Eat Lunch</li>
                    <li>12:15-3:00) Rocket roach dissection and data collection</li>
                    <li>3:00-4:00)&nbsp;</li>
                    <li>4:00-4:25) Conclude CSP and dismissal</li>
                </ul>
            </article>
        </div>
    </div>



    <style>
        .connection {
            font-size: 5rem;
            font-weight: bold;
            writing-mode: vertical-rl;
            width: 100%;
            display: flex;
            align-items: center;
        }

        h3.day {
            color: black;
        }

        div.timeline {
            width: 100%;
            margin: auto;
        }

        @media (min-width: 800px) {
            div.timeline {
                width: 80%;
            }
        }

    </style>
{% endblock %}